<header class="intro">
  <img class="intro__logo" src=".assets/images/logo.png" alt="logotipo de spotify" />
  <img
    class="intro__burguer"
    src="./assets/images/menu-icon.png"npm
    alt="Menu hamburguesa"
  />

  <nav class="intro__menu">
    <ul>
      <li class="intro__menu--item"><a class="intro__menu--itemlink" href="https://www.spotify.com/es/premium/">Premium</a></li>
      <li class="intro__menu--item"><a class="intro__menu--itemlink" href="https://support.spotify.com/es/">Ayuda</a></li>
      <li class="intro__menu--item"><a class="intro__menu--itemlink" href="https://www.spotify.com/es/download/windows/">Descargar</a></li>
      <li class="intro__menu--item"><a class="intro__menu--itemlink" href="https://www.spotify.com/es/signup">Registrarse</a></li>
      <li class="intro__menu--item">
        <a class="intro__menu--itemlink" href="https://accounts.spotify.com/es/login/?continue=https%3A//open.spotify.com/__noul__%3Fl2l%3D1%26nd%3D1&_locale=es-ES">Iniciar sesión</a>
      </li>
    </ul>
  </nav>
</header>
