<header class="intro">
  <img class="logo" src="./assets/images/logo.png" alt="logotipo de spotify" />
  <img
    class="burguer"
    src="./assets/images/menu-icon.png"
    alt="Menu hamburguesa"
  />

  <nav class="menu">
    <ul>
      <li class="menu_item"><a class="link" href="">Premium</a></li>
      <li class="menu_item"><a class="link" href="">Ayuda</a></li>
      <li class="menu_item"><a class="link" href="">Descargar</a></li>
      <li class="menu_item"><a class="link" href="">Registrarse</a></li>
      <li class="menu_item">
        <a class="link" href="">Iniciar sesión</a>
      </li>
    </ul>
  </nav>
</header>
