/* Menu superior */

.intro {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1.5rem;

  &__logo {
    width: 200px;
    display: inline-block;
  }
  
  &__burguer {
    width: 10%;
    @media all and (min-width: 480px) {
      display: none;
    }
  }
  
  &__menu {
    list-style: none;
    display: none;
    @media all and (min-width: 480px) {
      &--item {
        display: inline-block;
      }
      &--itemlink {
        text-decoration: none;
        margin: 0 10px;
        color: white;
      }
      display: inline-block;
    }
  }
  
}