* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* Menu superior */
.intro {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1.5rem;
}

.logo {
  width: 200px;
  display: inline-block;
}

.burguer {
  width: 10%;
}

.menu {
  list-style: none;
  display: none;
}

/*Imagen*/

.section_imagen {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: cornflowerblue;
  width: 100%;
  color: white;
}

.titulo_principal {
  font-size: 3rem;
  margin-top: 8rem;
}

.titulo_secundario {
  font-size: 1.45rem;
  margin: 1.25rem 0;
}

.boton {
  background-color: limegreen;
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin: 1.25rem 0;
  border-radius: 40px;
}

.letra_peq {
  font-size: 0.9rem;
  margin: 1.25rem 0;
}
/*Condiciones*/

.titulo_premium {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0;
  text-align: center;
}

.condiciones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 0;
}
.icono {
  display: flex;

  padding: 0.5rem;

  align-items: left;
}

.img_beneficts {
  width: 25%;
  margin: 1rem;
}

.subtitulos {
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}

.condiciones_todas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 400px;
}
.condiciones_text {
  padding: 1rem;
}

/*Footer*/

.footer {
  background-color: black;
  font-size: 0.9rem;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4rem 1rem 1rem 1rem;
}

.menu_footer {
  display: inline-block;
  max-width: 50%;
}
.link_footer {
  color: gray;
  text-decoration: none;
  margin: 6px;
  display: inline-block;
}

.menu_item_footer {
  color: gray;
  text-decoration: none;
  display: inline-block;
}
.texto_der {
  text-align: right;
  padding: 0.3rem;
}
.bandera {
  width: 20px;
}
.texto_espana {
  line-height: 2.5;
}

@media all and (min-width: 480px) {
  .burguer {
    display: none;
  }

  .menu {
    display: inline-block;
  }
  .menu_item {
    display: inline-block;
  }

  .link {
    text-decoration: none;
    margin: 0 10px;
    color: white;
  }
  .section_imagen {
    background-image: url("../images/premium_dancer.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: contain;
  }

  .titulo_principal {
    font-size: 4rem;
    margin-top: 4rem;
  }

  .boton {
    width: 25%;
  }
  .letra_peq {
    max-width: 80%;
    font-size: 0.8rem;
  }

  .condiciones_todas {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 95%;
  }
  .icono {
    width: 50%;
  }
}

@media all and (min-width: 1000px) {
  .condiciones_todas {
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
  }
  .icono {
    display: block;
  }
}
